# ignore the NodeJs modules
node_modules
webpack-build
# ignore local server code : server.js
server.js
webpack.config.js
# ignore NodeJS configuration files
#package-lock.json
#package.json

testcall.mjs