# ignore the NodeJs modules

node_modules
#src

# ignore local server code : server.js

server.js
testcall.mjs
#compiler.mjs
#app.mjs

# ignore NodeJS configuration files
#package-lock.json
#package.json
lib
olderSourceCode
npm-debug.log
webpack.config.js
babel.config.json
.gitignore
.vscode
Credentials
.firebase
y
ui-debug.log
database-debug.log
dist
.github/workflows


# Section to work on Farzaad's IDE
src
public
functions
