    textarea{
        resize: none;
    }

    .IdeChatTitles{
        white-space: nowrap;
    }

    .LeaveSessionButton{
        position: absolute;
        top: 0px;
        left: 0px;
        background-color: white;
        border: 2px solid black;
        color: green;
        padding: 5px 10px;
        text-align: center;
        display: inline-block;
        font-size: 20px;
        margin: 10px 10px;
        cursor: pointer;
    }

    .control-panel{
        /*position: absolute;*/   
        color: black;
        text-align: right;
        padding: 3px;
        font-size: 16px;
        font-family: sans-serif;
        max-width: 754px;
        width: 90.2%;
        border-radius: 2px;
        margin-right: 500px;
        height: 40px;
        grid-column:1;
        grid-row: 3;
    }

    .RunCodeButton {
        position: absolute;
        top: 0px;
        right: 0px;
        background-color: white;
        border: 2px solid black;
        color: green;
        padding: 5px 10px;
        text-align: center;
        display: inline-block;
        font-size: 20px;
        margin: 10px 10px;
        cursor: pointer; 
    }

    .FlexClassHorizontal{
        display: flex;
        flex-direction: row; 
    }

    .FlexClassVertical{
        display: flex;
        flex-direction: column;
    }

    .FlexShrink{
        display: flex;
        flex-shrink: 1;
    }

    #HostIDE {
        display:inline-block;
        /*position: absolute;*/
        border: black solid 1px;
        height: 650px;
        overflow-y: scroll;
        text-align: left;
        max-width: 550px;
        width: 95%
    }

    #MyIDE {
        display:inline-block;
        /*position: absolute;*/
        border: black solid 1px;
        height: 650px;
        overflow-y: scroll;
        text-align: left;
        max-width: 550px;
        width: 95%
    }