# ignore the NodeJs modules
node_modules

# ignore local server code : server.js
server.js
testcall.mjs
webpack-build
compiler.mjs


# ignore NodeJS configuration files
#package-lock.json
#package.json
npm-debug.log
webpack.config.js
app